.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 1); /* 기본적으로 투명도 없음 */
  color: #fff;
  position: fixed; /* 상단에 고정 */
  top: 0; /* 페이지 상단에 위치 */
  left: 0;
  right: 0; /* 전체 폭을 차지 */
  z-index: 1000; /* 다른 요소 위에 오도록 설정 */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* 아래쪽 그림자 추가 */
  transition: background-color 0.3s ease; /* 배경색 전환 효과 추가 */
}

/* 스크롤했을 때의 스타일 */
.header.scrolled {
  background-color: rgba(0, 0, 0, 0.8); /* 약간의 투명도 추가 */
}

.header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease; /* 호버 시 색상 전환 */
}

/* li 호버 효과 */
.navbar li:hover a {
  color: #E20612; /* 텍스트 색상 변경 */
  border-bottom: 2px solid #E20612; /* 밑줄 추가 */
}

/* 반응형 스타일 */
@media (max-width: 768px) {
  .navbar ul {
    display: none; /* 기본적으로 숨김 */
    flex-direction: column; /* 세로 방향으로 정렬 */
    position: absolute;
    top: 60px; /* 헤더 높이에 따라 조정 */
    left: 0;
    right: 0;
    background-color: #000000;
    padding: 1rem;
  }

  .navbar.active ul {
    display: flex; /* 활성화 시 표시 */
  }

  .navbar-toggle {
    display: block; /* 버튼 표시 */
  }
}

.navbar-toggle {
  display: block;
  cursor: pointer;
}