.products {
  padding: 2rem 0;
  text-align: center;
  color: black;
  overflow: hidden; /* 슬라이더가 부모 영역 밖으로 넘치지 않도록 설정 */
}

.products h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #fff;
}

.product-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  padding: 1rem 2rem; /* 좌우에 패딩을 추가하여 양 끝에서 여백이 나타나도록 */
  scroll-behavior: smooth; /* 부드러운 스크롤 효과 */
}

.product-slider::-webkit-scrollbar {
  display: none; /* 스크롤바 숨김 */
}

