.product-item {
  flex: 0 0 300px; /* 아이템의 너비 고정 */
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  text-align: center;
  scroll-snap-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* 애니메이션 추가 */
}

.product-item:hover {
  transform: scale(1.05); /* 호버 시 약간 확대 */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 추가 */
}

.product-item img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 8px;
}

.product-item h3 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  color: #333;
  margin-top: 1rem; /* 이미지와 제목 사이에 여백 추가 */
}

.product-item p {
  font-size: 1rem;
  color: #333;
  margin-top: 0.5rem; /* 제목과 가격 사이에 여백 추가 */
}