/* src/components/ProductsSection.css */

.products {
  padding: 2rem 0;
  text-align: center;
  color: black;
  overflow: hidden; /* 슬라이더가 부모 영역 밖으로 넘치지 않도록 설정 */
}

.products h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #fff;
}

.product-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  padding: 1rem 2rem; /* 좌우에 패딩을 추가하여 양 끝에서 여백이 나타나도록 */
  scroll-behavior: smooth; /* 부드러운 스크롤 효과 */
}

.product-slider::-webkit-scrollbar {
  display: none; /* 스크롤바 숨김 */
}

/* 좌우 버튼 스타일 */
.products .slider-btn {
  background:none;
  border: none;
  padding: 0.5rem 1rem ;
  color: white;
  cursor: pointer;
  z-index: 10;
  transition: background 0.3s ease;
}

.products .slider-btn:hover {
  color: #a50f0f;
}

.products .material-icons {
  font-size: 2rem; /* 아이콘 크기 추가 조정 */
}

.products-btn button {
  margin: 30px 100px; /* 좌우 버튼 사이에 10px 간격 추가 */
}